/.venv
.env
.hintrc
firebase.json

/app/fix.txt
/app/__pycache__
/app/firebase/__pycache__
/app/gemini_api/__pycache__
/app/gemini_api/fix.txt

/app/model_kit/__pycache__

/app/static/tmp/chat-rooms/*
!/app/static/tmp/chat-rooms/null

/app/static/css/header.css.map
/app/static/css/styles.css.map
/app/static/css/error.css.map
/app/static/css/chat.css.map

tests.ipynb