/.venv
.env
.hintrc
firebase.json
desktop.ini

__pycache__
fix.txt

/app/static/tmp/chatbot-rooms/*
/app/static/tmp/webuilder-rooms/*
!/app/static/tmp/chatbot-rooms/null
!/app/static/tmp/webuilder-rooms/null

*.css.map

tests.ipynb