#dotenv
python-dotenv

# web tools
markdown
html-sanitizer

#server-side
flask
flask[async]
flask-socketio
eventlet
requests

#Firebase
firebase_admin

# Data import
pandas # Data manipulation library
Pillow # PIL image-loading library
beautifulsoup4 # Text scraper from websites 

# Math and data visualization
numpy
matplotlib
seaborn

#Data preprocessing and model builing for ML
nltk # Natural Language Toolkit
scikit-learn
tensorflow


# for Gemini
langchain_core
langchain-google-genai # This package contains the LangChain integrations for the Gemini API.