@font-face {
    font-family: 'Aptos';
    src: url(../fonts/Aptos-Light.ttf);
}

@font-face {
    font-family: 'Google Sans';
    src: url(../fonts/GoogleSans-Regular.ttf);
    
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}