@mixin light-theme {
    --primary-color: #{$light-primary-color};
    --secondary-color: #{$light-secondary-color};
    --text-color: #{$light-text-color};
    --border-color: #{$light-border-color};
    --prompt-color: #{$light-prompt-color};
}
  
@mixin dark-theme {
    --primary-color: #{$dark-primary-color};
    --secondary-color: #{$dark-secondary-color};
    --text-color: #{$dark-text-color};
    --border-color: #{$dark-border-color};
    --prompt-color: #{$dark-prompt-color};
}


// Vendor prefixes for various properties
@mixin vendor-prefix($property, $value) {
    -webkit-#{$property}: $value;
    -moz-#{$property}: $value;
    -ms-#{$property}: $value;
    -o-#{$property}: $value;
    #{$property}: $value;
}



//Gemini gradient
@mixin gemini_gradient($surface: 'background') {
    $g-color1: #9168C0;
    $g-color2: #5684D1;
    $g-color3: #1BA1E3;
    background: linear-gradient(
        90deg,
        $g-color1, $g-color2, $g-color3, $g-color1 75%
    );
    @if $surface == text {
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
}

//Gradient animation
@mixin gradient_animation($duration, $type: linear, $count: 1) {
    background-size: 200% 100%;
    
    @if $count == infinite {
        animation: gradient-animation-infinite $duration $type $count;
    }
    @else {
        animation: gradient-animation $duration $type $count;
    }
    
    @keyframes gradient-animation {
        0% {
            background-position: 100% 0%;
        }
        100% {
            background-position: 0% 0%;
        }
    }

    @keyframes gradient-animation-infinite {
        0% {
            background-position: 100% 0%;
        }
        100% {
            background-position: -100% 0%;
        }
    }
}

//Glass effect
@mixin glass($border-radius: 20px, $color:rgb(255, 255, 255), $tint: 0%) {
    background: linear-gradient(135deg, rgba($color, 0.1), rgba($color, 0));
    @include vendor-prefix(backdrop-filter, (blur(10px) brightness(calc(100% - $tint))));
    border-radius: $border-radius;
    border:1px solid rgba($color, 0.18);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.37);
}