@mixin light-theme {
    --primary-color: #{$light-primary-color};
    --primary-color-tone: #{$light-primary-color-tone};
    --secondary-color: #{$light-secondary-color};
    --text-color: #{$light-text-color};
    --border-color: #{$light-border-color};
    --prompt-color: #{$light-prompt-color};
}
  
@mixin dark-theme {
    --primary-color: #{$dark-primary-color};
    --primary-color-tone: #{$dark-primary-color-tone};
    --secondary-color: #{$dark-secondary-color};
    --text-color: #{$dark-text-color};
    --border-color: #{$dark-border-color};
    --prompt-color: #{$dark-prompt-color};
}



//Gemini gradienr
$g-color1: #9168C0;
$g-color2: #5684D1;
$g-color3: #1BA1E3;
@mixin gemini_gradient_text {
    background: -webkit-linear-gradient(-45deg, $g-color1, $g-color2, $g-color3);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

@mixin gemini_gradient_text_animated {

}