// Light theme variables
$light-primary-color: #ffffff; //TODO
$light-primary-color-tone: #e3e3e3; //TODO
$light-secondary-color: #010d3f; //TODO
$light-text-color: #000000; //TODO
$light-border-color: #00ff00; //TODO
$light-prompt-color: #2f2f2f; //TODO

// Dark theme variables
$dark-primary-color: #252525;
$dark-primary-color-tone: #171717;
$dark-secondary-color: #010d3f;
$dark-text-color: #ffffff;
$dark-border-color: #00ff00;
$dark-prompt-color: #2f2f2f;