.chat_container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.chat_container .messages {
  overflow-y: scroll;
  width: 100%;
  height: calc(100vh - 168px);
  padding: 0 calc((100vw - 760px) / 2);
  font-size: 16px;
}
.chat_container .messages * {
  text-wrap: wrap;
  word-wrap: break-word;
}
.chat_container .messages #welcoming h1, .chat_container .messages #welcoming h2, .chat_container .messages #welcoming h3, .chat_container .messages #welcoming h4, .chat_container .messages #welcoming h5, .chat_container .messages #welcoming h6 {
  width: -moz-fit-content;
  width: fit-content;
}
.chat_container .messages #welcoming h2 {
  display: flex;
}
.chat_container .messages #welcoming h2 img.gemini-sparkle {
  margin-left: 10px;
  align-self: center;
  height: -moz-max-content;
  height: max-content;
  aspect-ratio: 1/1;
}
.chat_container .messages #welcoming .options {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}
.chat_container .messages #welcoming .options .option {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 30%;
  padding: 10px;
  aspect-ratio: 1/1;
}
.chat_container .messages #welcoming .options .option img {
  height: 50%;
  filter: var(--text-color);
}
.chat_container .messages #welcoming .options .option span {
  text-align: center;
}
.chat_container .messages .message {
  clear: both;
}
.chat_container .messages .message pre {
  background-color: black;
  padding: 15px;
  padding-top: 0;
  border-radius: 10px;
}
.chat_container .messages .message pre .code-header {
  background-color: var(--prompt-color);
  width: calc(100% + 30px);
  margin-left: -15px;
  padding: 7.5px 15px;
  border-radius: 10px 10px 0 0;
  margin-bottom: 15px;
}
.chat_container .messages .message pre .code-header .lang {
  font-size: 15px;
  opacity: 0.5;
}
.chat_container .messages .client-message {
  background-color: var(--prompt-color);
  border-radius: 26px;
  max-width: 60%;
  padding: 10px 20px;
  margin: 10px 0;
  float: right;
}
.chat_container .messages .client-message * {
  margin: 0;
}
.chat_container .messages .server-message {
  float: left;
  display: flex;
  flex-direction: row;
}
.chat_container .messages .server-message img.gemini-sparkle {
  height: 32px;
  aspect-ratio: 1/1;
  transform: translateY(25%);
}
.chat_container .messages .server-message .typing {
  transform: translateY(25%);
  padding-left: 10px;
}
.chat_container .messages .server-message div.gemini-response {
  padding-left: 10px;
  display: flex;
  flex-direction: column;
}
.chat_container .prompt-container {
  position: fixed;
  bottom: 0;
  right: 50%;
  transform: translateX(50%);
  width: 745px;
}
.chat_container .prompt-container .prompt {
  background-color: var(--prompt-color);
  border-radius: 26px;
  min-height: 52px;
  height: auto;
  display: flex;
  justify-content: space-around;
  flex-direction: row;
  align-items: center;
}
.chat_container .prompt-container .prompt .text-input {
  display: block;
  width: 80%;
  overflow: hidden;
  margin: 8px 0;
  font-size: 18px;
  min-height: 24px;
  max-height: 50vh;
  border: none;
  outline: none;
  color: var(--text-color);
}
.chat_container .prompt-container .prompt .text-input[contenteditable]:empty::before {
  content: "Message Gemini";
  opacity: 0.5;
}
.chat_container .prompt-container > span {
  opacity: 0.5;
  margin: 8px;
  font-size: 12.5px;
  display: block;
  text-align: center;
}/*# sourceMappingURL=chat.css.map */