@charset "UTF-8";
:root {
  --chat_width: 800px;
}

.light-theme #theme-switcher svg path:nth-child(3) {
  fill: var(--primary-color) !important;
  stroke: var(--text-color);
  stroke-width: 5%;
}

#models {
  position: absolute;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.37);
  -webkit-width: fit-content;
  -moz-width: -moz-fit-content;
  -ms-width: fit-content;
  -o-width: fit-content;
  width: fit-content;
  padding: var(--small_margin);
  z-index: 10;
  transition: opacity var(--transition_time), visibility var(--transition_time);
  will-change: opacity, visibility;
  opacity: 1;
  visibility: visible;
}
#models .model {
  display: flex;
  align-items: center;
  gap: var(--small_margin);
  width: 100%;
  opacity: 0.5;
  height: -moz-min-content;
  height: min-content;
  margin: 0;
  padding: var(--small_margin);
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  transition: all var(--transition_time);
  transform: translateX(calc(var(--small_length) * -1));
}
#models .model.selected {
  opacity: 1;
  transform: translateX(0);
  pointer-events: none;
}
#models .model.selected svg {
  opacity: 1;
}
#models .model:hover {
  opacity: calc(1 - var(--faint_opacity) / 2);
  transform: translateX(0);
}
#models .model:hover svg {
  opacity: calc(1 - var(--faint_opacity) / 2);
}
#models .model svg {
  transition: opacity var(--transition_time);
  opacity: 0;
}

@starting-style {
  #models {
    opacity: 0;
  }
}
header {
  width: 100vw;
  padding: 0 5vw;
  height: calc(var(--small_length) + 2 * var(--small_margin) + var(--small_margin) * 4 + 5px);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}
header #selected-model {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  -webkit-width: fit-content;
  -moz-width: -moz-fit-content;
  -ms-width: fit-content;
  -o-width: fit-content;
  width: fit-content;
  padding: var(--small_margin);
  border-radius: calc(var(--h5) + 2 * var(--small_margin));
  display: flex;
  max-width: 60vw;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  opacity: 0.5;
  transition: opacity var(--transition_time), background-color var(--transition_time);
}
header #selected-model::after {
  content: "˅";
  font-size: var(--p);
  font-weight: 1000;
  -webkit-text-stroke: 0.5px;
  margin-left: 8px;
}
header #selected-model:hover {
  opacity: 1;
}
header #selected-model.active {
  background-color: var(--prompt-color);
  opacity: 1;
}
header #selected-model * {
  margin: 0 calc(var(--small_margin) / 4);
}
header #selected-model .model-name {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: clip;
}
header .header-buttons {
  display: flex;
  flex-direction: row;
}
header .header-buttons .header-btn {
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  border-radius: 50%;
  padding: calc(var(--small_margin) / 2);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: calc(var(--small_margin) / 2);
  transition: background-color var(--transition_time), opacity var(--transition_time);
}
header .header-buttons .header-btn:hover {
  opacity: 0.75;
}
header .header-buttons .header-btn:hover:active {
  opacity: initial;
  background-color: var(--prompt-color);
}
header .header-buttons .header-btn svg {
  height: var(--small_length);
  width: var(--small_length);
}
header .header-buttons #download-chat svg {
  transform: translateY(-10%);
}
header .header-buttons #download-chat svg path {
  stroke: var(--text-color);
}
header .header-buttons #clear-chat svg {
  fill: var(--text-color);
}
header .header-buttons #theme-switcher svg {
  fill: var(--text-color);
}

div.gemini-sparkle {
  background: linear-gradient(90deg, #9168C0, #5684D1, #1BA1E3, #9168C0 75%);
  background-size: 200% 100%;
  animation: gradient-animation-infinite 4s linear infinite;
  -webkit-mask: url("#gemini-sparkle-mask-chat");
  mask: url("#gemini-sparkle-mask-chat");
  width: 100px;
  height: 100px;
  position: fixed;
  top: 50%;
  left: calc(50% - var(--scrollbar_width) / 2);
  opacity: 0.5;
  z-index: -1;
  transform: translate(-50%, -50%);
}
@keyframes gradient-animation {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes gradient-animation-infinite {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}

.chat_container {
  width: 100vw;
  height: 100dvh;
  padding-top: calc(var(--small_length) + 2 * var(--small_margin) + var(--small_margin) * 4 + 5px);
}

.files-container {
  -webkit-backdrop-filter: blur(8px);
  -moz-backdrop-filter: blur(8px);
  -o-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  display: flex;
  gap: var(--small_margin);
}
.files-container .file-container {
  background-color: var(--prompt-color);
  padding: var(--small_margin);
  border-radius: calc(var(--border_radius) + var(--small_margin));
  border: var(--border-color) 1px solid;
}
.files-container .file-container .remove-button {
  float: right;
  height: calc(1.5 * var(--p));
  width: calc(1.5 * var(--p));
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--prompt-color);
  margin: var(--small_margin);
  -webkit-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
  cursor: pointer;
  transition: background-color var(--transition_time);
}
.files-container .file-container .remove-button::after {
  content: "×";
  font-size: var(--h5);
  text-align: center;
  transform: translateY(-1px);
}
.files-container .file-container .remove-button:active {
  opacity: 0.75;
}
.files-container .file-container .img {
  border-radius: var(--border_radius);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
.files-container[hidden] {
  -webkit-backdrop-filter: none;
  -moz-backdrop-filter: none;
  -o-backdrop-filter: none;
  backdrop-filter: none;
}

#welcoming {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
#welcoming .title {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#welcoming .title > * {
  text-align: center;
  -webkit-width: fit-content;
  -moz-width: -moz-fit-content;
  -ms-width: fit-content;
  -o-width: fit-content;
  width: fit-content;
}
#welcoming .title svg {
  margin-left: var(--small_margin);
  height: -moz-max-content;
  height: max-content;
}
#welcoming .title span {
  background: linear-gradient(90deg, #9168C0, #5684D1, #1BA1E3, #9168C0 75%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  animation: gradient-animation-infinite 4s linear infinite;
}
@keyframes gradient-animation {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes gradient-animation-infinite {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}
#welcoming .options {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 5%;
}
#welcoming .options .option {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.37);
  cursor: pointer !important;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  margin-top: 1em;
  width: 30%;
  aspect-ratio: 1/1;
  height: auto;
  padding: var(--small_margin);
  text-decoration: none;
}
#welcoming .options .option span {
  text-align: center;
}
#welcoming .options .option svg {
  fill: var(--text-color);
  height: 50%;
  width: auto;
}
#welcoming .options .option:hover {
  background-color: var(--prompt-color);
}
#welcoming .options .option:hover span {
  background: linear-gradient(90deg, #9168C0, #5684D1, #1BA1E3, #9168C0 75%);
  -webkit-background-clip: text;
          background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  animation: gradient-animation-infinite 4s linear infinite;
  font-weight: 800;
}
@keyframes gradient-animation {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: 0% 0%;
  }
}
@keyframes gradient-animation-infinite {
  0% {
    background-position: 100% 0%;
  }
  100% {
    background-position: -100% 0%;
  }
}
#welcoming .options .option:hover svg {
  height: 47.5%;
}

.server-response {
  display: flex;
  justify-content: center;
  height: auto;
}
.server-response .webview {
  width: 30%;
  aspect-ratio: 1/1;
  transition: all 1s;
  max-height: calc(100vh - 2 * (var(--small_length) + 2 * var(--small_margin) + var(--small_margin) * 4 + 5px) - 2 * var(--small_margin));
}
.server-response .webview.active {
  background-color: white;
  width: 100%;
}
.server-response .code-container {
  width: 100%;
  height: 100%;
}

.messages-container {
  width: 100%;
  height: calc(100% - (var(--small_length) + 2 * var(--small_margin) + var(--small_margin) * 4 + 5px));
  padding: 0 calc((100vw - var(--chat_width)) / 2);
  font-size: var(--p);
  overflow-y: scroll;
}
.messages-container * {
  text-wrap: wrap;
  word-wrap: break-word;
}
.messages-container .messages {
  padding: calc(var(--small_margin) * 2) 0;
  display: flex;
  flex-direction: column;
  gap: var(--small_margin);
}
.messages-container .messages .message {
  clear: both;
}
.messages-container .messages .message .files-container {
  flex-direction: row;
  flex-wrap: wrap;
}
.messages-container .messages .message .files-container .file-container {
  max-width: 100%;
  aspect-ratio: 1/1;
}
.messages-container .messages .message .files-container .file-container .img {
  width: 100vw;
  max-width: 100%;
}
.messages-container .messages .client-message {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.37);
  background-color: var(--prompt-color);
  border-radius: calc((var(--small_length) + 2 * var(--small_margin)) / 2);
  max-width: 60%;
  padding: var(--small_margin) calc(var(--small_margin) * 2);
  align-self: self-end;
}
.messages-container .messages .client-message .editable-hint {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: calc((var(--small_length) + 2 * var(--small_margin)) / 2);
  -webkit-backdrop-filter: blur(1px);
  -moz-backdrop-filter: blur(1px);
  -o-backdrop-filter: blur(1px);
  backdrop-filter: blur(1px);
  opacity: 0;
  transition: opacity var(--transition_time);
}
.messages-container .messages .client-message .editable-hint:hover {
  opacity: 1;
}
.messages-container .messages .client-message * {
  margin: 0;
}
.messages-container .messages .server-message {
  width: 100%;
  float: left;
  display: flex;
  flex-direction: row;
  align-self: self-start;
}
.messages-container .messages .server-message .text-container, .messages-container .messages .server-message .highlight, .messages-container .messages .server-message pre {
  width: 100%;
}
.messages-container .messages .server-message img.gemini-sparkle {
  height: var(--small_length);
  margin: var(--small_margin);
}
.messages-container .messages .server-message .typing {
  margin-top: calc((var(--small_length) / 2 * 3 + var(--small_margin)) / 2);
  transform: translateY(calc(-1 * var(--small_length) / 2));
  padding-left: var(--small_margin);
}
.messages-container .messages .server-message div.gemini-response {
  padding-left: var(--small_margin);
  display: flex;
  flex-direction: column;
}

.prompt-container {
  position: absolute;
  left: 0;
  bottom: 0;
  width: calc(100% - var(--scrollbar_width));
  background-color: transparent;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}
.prompt-container .files-container {
  padding-bottom: var(--small_margin);
  border-radius: calc(var(--border_radius) * 2) calc(var(--border_radius) * 2) 0 0;
  flex-direction: row;
  flex-wrap: wrap;
  width: calc(var(--chat_width) - var(--scrollbar_width));
}
.prompt-container .files-container .file-container {
  width: calc((100% - 3 * var(--small_margin)) / 4);
  aspect-ratio: 1/1;
}
.prompt-container .files-container[hidden] {
  display: none;
}
.prompt-container .prompt {
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.37);
  width: calc(var(--chat_width) - var(--scrollbar_width));
  background-color: var(--prompt-color);
  border-radius: calc((var(--small_length) + 2 * var(--small_margin)) / 2);
  min-height: calc(var(--small_length) + 2 * var(--small_margin));
  height: auto;
  display: flex;
  flex-direction: row;
  padding: var(--small_margin);
}
.prompt-container .prompt .text-input {
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 0 calc(2 * var(--small_margin));
  font-size: var(--p);
  min-height: var(--p);
  max-height: 50dvh;
  border: none;
  outline: none;
  color: var(--text-color);
  cursor: text !important;
  align-self: center;
}
.prompt-container .prompt .text-input[contenteditable]:empty::before {
  content: "Message Gemini";
  opacity: 0.5;
}
.prompt-container .prompt .image-input {
  cursor: pointer !important;
  height: var(--small_length);
  transition: opacity var(--transition_time);
  aspect-ratio: 1/1;
  fill: var(--text-color) !important;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
}
.prompt-container .prompt .image-input:hover {
  opacity: 1;
  background-color: var(--prompt-color);
}
.prompt-container .prompt .image-input svg {
  height: var(--smaller_length);
  aspect-ratio: 1/1;
}
.prompt-container .prompt .image-input svg path:nth-child(1) {
  stroke: var(--text-color) !important;
}
.prompt-container .prompt .image-input svg path:nth-child(2) {
  fill: var(--text-color) !important;
}
.prompt-container .prompt .submit {
  cursor: pointer !important;
  transition: opacity var(--transition_time);
  background-color: var(--text-color);
  border-radius: 50%;
  height: var(--small_length);
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.prompt-container .prompt .submit svg {
  height: var(--smaller_length);
  width: var(--smaller_length);
  fill: var(--prompt-color) !important;
}
.prompt-container > span {
  opacity: 0.5;
  margin: var(--small_margin);
  font-size: 12.5px;
  display: block;
  text-align: center;
}

.alert {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: calc(var(--small_length) + 2 * var(--small_margin) + var(--small_margin) * 4 + 5px + var(--small_margin));
  background-color: var(--prompt-color);
  border-radius: calc((var(--small_length) + 2 * var(--small_margin)) / 2);
  padding: var(--small_margin);
  max-width: -moz-max-content;
  max-width: max-content;
  width: 90vw;
  background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.37);
}
.alert.error {
  background: linear-gradient(135deg, rgba(255, 0, 0, 0.1), rgba(255, 0, 0, 0));
  -webkit-backdrop-filter: blur(10px);
  -moz-backdrop-filter: blur(10px);
  -o-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  border-radius: 20px;
  border: 1px solid rgba(255, 0, 0, 0.18);
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.37);
  color: red !important;
}

/* Scrollbar container */
::-webkit-scrollbar {
  width: var(--scrollbar_width);
}

/* Track (the area around the scrollbar) */
::-webkit-scrollbar-track {
  background: var(--prompt-color);
  border-radius: calc(var(--scrollbar_width) / 2);
}

/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: calc((var(--scrollbar_width)) / 2);
  border: calc(var(--scrollbar_width) / 5) solid var(--prompt-color);
  /* Handle on hover */
}
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

@media screen and (max-width: 800px) {
  :root {
    --chat_width: 90dvw;
    --scrollbar_width: 0%;
  }
  ::-webkit-scrollbar {
    display: none;
  }
  .header-buttons #download-chat {
    display: none;
  }
  #welcoming .options #logs {
    display: none !important;
  }
  #welcoming .option {
    width: 40% !important;
    font-size: small;
  }
  pre {
    font-size: x-small;
  }
}/*# sourceMappingURL=geminiapi.css.map */