@import 'mixins';

$chat_width: 800px;

$prompt_height: calc(var(--small_length) + 2 * var(--small_margin));
$prompt_full_height: calc($prompt_height + var(--small_margin) * 4 + 5px);
$header_height: $prompt_full_height;

:root {
    --chat_width: #{$chat_width};
}

.light-theme {
    #theme-switcher svg {
        path:nth-child(3) {
            fill: var(--primary-color) !important;
            stroke: var(--text-color);
            stroke-width: 5%;
        }
    }
}


#models{
    position: absolute;
    @include glass;
    @include vendor-prefix(width, fit-content);
    padding: var(--small_margin);
    z-index: 10;
    transition: opacity var(--transition_time), visibility var(--transition_time);
    will-change: opacity, visibility;
    opacity: 1;
    visibility: visible;

    .model {
        display: flex;
        align-items: center;
        gap: var(--small_margin);
        width: 100%;
        opacity: 0.5;
        height: min-content;
        margin: 0;
        padding: var(--small_margin);
        cursor: pointer;
        @include vendor-prefix(user-select, none);
        transition: all var(--transition_time);
        transform: translateX(calc(var(--small_length) * (-1)));

        &.selected {
            opacity: 1;
            transform: translateX(0);
            svg {
                opacity: 1;
            }
            pointer-events: none;
        }

        &:hover {
            opacity: calc(1 - var(--faint_opacity) / 2);
            transform: translateX(0);

            svg {
                opacity: calc(1 - var(--faint_opacity) / 2);
            }
        }

        svg {
            transition: opacity var(--transition_time);
            opacity: 0;
        }
    }

}
@starting-style {
    #models {
        opacity: 0;
    }
}


header {
    width: 100vw;
    padding: 0 5vw;
    height: $header_height;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;

    #selected-model {
        cursor: pointer;
        @include vendor-prefix(user-select, none);
        @include vendor-prefix(width, fit-content);
        padding: var(--small_margin);
        border-radius: calc(var(--h5) + 2 * var(--small_margin));
        display: flex;
        max-width: 60vw;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        opacity: 0.5;
        transition: opacity var(--transition_time), background-color var(--transition_time);

        &::after {
            content: '˅';
            font-size: var(--p);
            font-weight: 1000;
            -webkit-text-stroke: 0.5px;
            margin-left: 8px;
        }
        
        &:hover {
            opacity: 1;
        }

        &.active {
            background-color: var(--prompt-color);
            opacity: 1;
        }

        * {
            margin: 0 calc(var(--small_margin) / 4);
        }

        .model-name {
            overflow: hidden;
            white-space: nowrap;
            text-overflow: clip;
        }

    }

    .header-buttons {
        display: flex;
        flex-direction: row;
        .header-btn {
            cursor: pointer;
            @include vendor-prefix(user-select, none);
            border-radius: 50%;
            padding: calc(var(--small_margin) / 2);
            display: flex;
            justify-content: center;
            align-items: center;
            margin: calc(var(--small_margin) / 2);
            transition: background-color var(--transition_time), opacity var(--transition_time);
            
            &:hover {
                opacity: 0.75;
            }
            &:hover:active {
                opacity: initial;
                background-color: var(--prompt-color);
            }
    
            svg {
                height: var(--small_length);
                width: var(--small_length);
            }
        }
    
        #download-chat svg {
            transform: translateY(-10%);
            path {
                stroke: var(--text-color);
            }
        }

        #clear-chat svg {
            fill: var(--text-color);
        }

        #theme-switcher svg {
            fill: var(--text-color);
        }
    }
}


div.gemini-sparkle {
    @include gemini_gradient();
    @include gradient_animation(4s, $count: infinite);
    -webkit-mask: url('#gemini-sparkle-mask-chat');
    mask: url('#gemini-sparkle-mask-chat');
    width: 100px;
    height: 100px;
    position: fixed;
    top: 50%;
    left: calc(50% - var(--scrollbar_width) / 2);
    opacity: 0.5;
    z-index: -1;
    transform: translate(-50%,-50%);
}



.chat_container {
    width: 100vw;
    height: 100dvh;
    padding-top: $header_height;
}

.files-container {
    @include vendor-prefix(backdrop-filter, blur(8px));
    display: flex;
    gap: var(--small_margin);
    .file-container {
        background-color: var(--prompt-color);
        padding: var(--small_margin);
        border-radius: calc(var(--border_radius) + var(--small_margin));
        border: var(--border-color) 1px solid;

        .remove-button {
            $size: calc(1.5 * var(--p));
            float: right;
            height: $size;
            width: $size;
            display: flex;
            justify-content: center;
            align-items: center;
            border-radius: 50%;
            background-color: var(--prompt-color);
            margin: var(--small_margin);
            @include vendor-prefix(user-select, none);
            cursor: pointer;
            transition: background-color var(--transition_time);

            &::after {
                content: "\00d7";
                font-size: var(--h5);
                text-align: center;
                transform: translateY(-1px); //small font inaccuracy disturbing visual centering
            }
        
            &:active {
                opacity: 0.75;
            }
        }

        .img {
            border-radius: var(--border_radius);
            background-position: center;
            background-size: cover;
            width: 100%;
            height: 100%;
        }
    }

    &[hidden] {
        @include vendor-prefix(backdrop-filter, none);
    }
}


#welcoming {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    .title {
        display: flex;
        flex-direction: column;
        align-items: center;
        >* {
            text-align: center;
            @include vendor-prefix(width, fit-content);
        }

        svg {
            margin-left: var(--small_margin);
            height: max-content;
        }

        span {
            @include gemini_gradient("text");
            @include gradient_animation(4s, $count: infinite);
        }
    }

    .options {
        width: 100%;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        gap: 5%;
        
        .option {
            @include glass;
            cursor: pointer !important;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: center;
            margin-top: 1em;

            span {
                text-align: center;
            }

            width: 30%;
            aspect-ratio: 1 / 1;
            height: auto;
            padding: var(--small_margin);
            text-decoration: none;

            svg {
                fill: var(--text-color);
                height: 50%;
                width: auto;
            }

            &:hover {
                background-color: var(--prompt-color);
                span {
                    @include gemini_gradient("text");
                    @include gradient_animation(4s, $count: infinite);
                    font-weight: 800;
                }

                svg {
                    height: 47.5%;
                }
            }
        }
    }
}

.server-response {
    display: flex;
    justify-content: center;
    height: auto;
    
    .webview {
        width: 30%;
        aspect-ratio: 1 / 1;
        transition: all 1s;
        max-height: calc(100vh - 2 * $prompt_full_height - 2 * var(--small_margin));

        &.active {
            background-color: white;
            width: 100%;
        }
    }

    .code-container {
        width: 100%;
        height: 100%;
    }
}

.messages-container {
    width: 100%;
    height: calc(100% - $prompt_full_height);
    padding: 0 calc((100vw - var(--chat_width)) / 2);
    font-size: var(--p);
    overflow-y: scroll;

    * {
        text-wrap: wrap;
        word-wrap: break-word;
    }


    .messages {
        padding: calc(var(--small_margin) * 2) 0;
        display: flex;
        flex-direction: column;
        gap: var(--small_margin);

        .message {
            clear: both;

            .files-container {
                flex-direction: row;
                flex-wrap: wrap;
                .file-container {
                    max-width: 100%;
                    aspect-ratio: 1 / 1;
                    .img {
                        width: 100vw;
                        max-width: 100%;
                    }
                }
            }
        }

        .client-message {
            @include glass;
            background-color: var(--prompt-color);
            border-radius: calc($prompt_height / 2);
            max-width: 60%;
            padding: var(--small_margin) calc(var(--small_margin) * 2);
            align-self: self-end;
        
            .editable-hint {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border-radius: calc($prompt_height / 2);
                @include vendor-prefix(backdrop-filter, blur(1px));
                opacity: 0;
                transition: opacity var(--transition_time);
                
                &:hover {
                    opacity: 1;
                }
            }


            * {
                margin: 0;
            }
        }
        .server-message {
            width: 100%;
            float: left;
            display: flex;
            flex-direction: row;
            align-self: self-start;

            .text-container, .highlight, pre { width: 100%; }

        
            img.gemini-sparkle {
                height: var(--small_length);
                margin: var(--small_margin); //half of <p>
            }
        
            .typing {
                margin-top: calc((var(--small_length) / 2 * 3 + var(--small_margin)) / 2); //half of <p>
                transform: translateY(calc(-1 * var(--small_length) / 2));
                padding-left: var(--small_margin);
            }
        
            div.gemini-response {
                padding-left: var(--small_margin);
                display: flex;
                flex-direction: column;
            }
        }
    }

}

.prompt-container {
    position: absolute;
    left: 0;
    bottom: 0;
    width: calc(100% - var(--scrollbar_width));
    background-color: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    
    .files-container {
        padding-bottom: var(--small_margin);
        border-radius: calc(var(--border_radius) * 2) calc(var(--border_radius) * 2) 0 0;
        flex-direction: row;
        flex-wrap: wrap;
        width: calc(var(--chat_width) - var(--scrollbar_width));
        .file-container {
            $cards: 4;
            width: calc((100% - (3 * var(--small_margin))) / $cards);
            aspect-ratio: 1 / 1;
        }

        &[hidden] {
            display: none;
        }
    }

    .prompt {
        @include glass;
        width: calc(var(--chat_width) - var(--scrollbar_width));
        background-color: var(--prompt-color);
        border-radius: calc($prompt_height / 2);
        min-height: $prompt_height;
        height: auto;
        display: flex;
        flex-direction: row;
        padding: var(--small_margin);

        .text-input {
            display: block;
            width: 100%;
            overflow: hidden;
            padding: 0 calc(2 *var(--small_margin));
            font-size: var(--p);
            min-height: var(--p);
            max-height: 50dvh;
            border: none;
            outline: none;
            color: var(--text-color);
            cursor: text !important;
            align-self: center;

            &[contenteditable]:empty::before {
                content: "Message Gemini";
                opacity: 0.5;
            }
        }

        .image-input {
            cursor: pointer !important;
            height: var(--small_length);
            transition: opacity var(--transition_time);
            aspect-ratio: 1 / 1;
            fill: var(--text-color) !important;
            border-radius: 50%;
            display: flex;
            justify-content: center;
            align-items: center;
            opacity: 0.5;

            &:hover {
                opacity: 1;
                background-color: var(--prompt-color);
            }
        }
        .image-input svg {
            height: var(--smaller_length);
            aspect-ratio: 1 / 1;
            $svg_color: var(--text-color);

            path:nth-child(1) {
                stroke: $svg_color !important;
            }
            path:nth-child(2) {
                fill: $svg_color !important;
            }
        }

        .submit {
            cursor: pointer !important;
            transition: opacity var(--transition_time);
            background-color: var(--text-color);
            border-radius: 50%;
            height: var(--small_length);
            aspect-ratio: 1 / 1;
            display: flex;
            justify-content: center;
            align-items: center;
        }
        .submit svg {
            height: var(--smaller_length);
            width: var(--smaller_length);
            fill: var(--prompt-color) !important; 
        }

    }

    > span {
        opacity: 0.5;
        margin: var(--small_margin);
        font-size: 12.5px;
        display: block;
        text-align: center;
    }
}


.alert {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: calc($prompt_full_height + var(--small_margin));
    background-color: var(--prompt-color);
    border-radius: calc($prompt_height / 2);
    padding: var(--small_margin);
    max-width: max-content;
    width: 90vw;
    @include glass;

    &.error{
        @include glass($color: red);
        color: red !important;
    }
}


/* Scrollbar container */
::-webkit-scrollbar {
    width: var(--scrollbar_width);
}
/* Track (the area around the scrollbar) */
::-webkit-scrollbar-track {
    background: var(--prompt-color);
    border-radius: calc(var(--scrollbar_width) / 2);
}
/* Handle (the draggable part of the scrollbar) */
::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: calc((var(--scrollbar_width)) / 2);
    border: calc(var(--scrollbar_width) / 5) solid var(--prompt-color);

    /* Handle on hover */
    &:hover {
        background: #555;
    }
}



@media screen and (max-width: $chat_width) {
    :root {
        --chat_width: 90dvw;
        --scrollbar_width: 0%;
    }
    
    ::-webkit-scrollbar { display: none; }

    .header-buttons #download-chat { display: none; }

    #welcoming {
        .options #logs { display: none !important; }
        .option {
            width: 40% !important;
            font-size: small;
        }
    }

    pre { font-size: x-small; }
}