$header-height: 100px;

header {
    height: $header-height;
    padding: 20px 0;
    background-color: var(--primary-color);
    color: var(--text-color); 
    display: flex;
    justify-content: space-around;
    align-items: center;
    border-bottom: 1px solid #ccc;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 999;
}

#header-placeholder {
    width: 100%;
    height: $header-height;
}
  
.logo {
    font-size: 24px; /* Adjust font size as needed */
}
  
.nav-links a {
    color: #fff; /* Change this to your desired link color */
    text-decoration: none;
    margin-left: 20px; /* Adjust spacing between links */
}
  
.nav-links a:hover {
    text-decoration: underline;
}
  
.nav-links .active {
    font-weight: bold; /* Style for the active link */
}