@import 'variables';
@import 'mixins';
@import 'themes';
@import 'animations';
@import 'fonts';

:root {
    --small_length: #{$small_length};
    --smaller_length: #{$smaller_length};
    --small_margin: #{$small_margin};
    --border_radius: #{$border_radius};

    --p: #{$p};
    @for $i from 1 through 6 {
        --h#{$i}: #{nth($h, $i)};
    }

    --scrollbar_width: #{$scrollbar_width};

    --transition_time: #{$transition_time};
    --faint_opacity: #{$faint_opacity};
}

html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    @include vendor-prefix(tap-highlight-color, transparent);
    background-color: var(--primary-color) !important;
    color: var(--text-color) !important;
    
    * {
        font-family: 'Google Sans' !important;
    }

    pre * {
        font-family: monospace !important;
    }
    
    $elements_padding: calc(var(--small_margin) * 2);
    pre{
        background-color: black;
        border-radius: var(--border_radius);
        
        .code-header {
            background-color: var(--prompt-color);
            width: 100%;
            display: flex;
            justify-content: space-between;
            flex-direction: row;
            align-items: center;
            gap: var(--small_margin);
            height: auto;
            padding: calc(0.5 * $elements_padding) $elements_padding;
            border-radius: var(--border_radius) var(--border_radius) 0 0;
            box-shadow: 0 -2px 0 0 var(--prompt-color);
            
            .lang {
                font-size: var(--p);
            }

            .copy {
                display: flex;
                align-items: center;
                gap: var(--small_margin);
                
                cursor: pointer;
                height: var(--smaller_length);
                @include vendor-prefix(width, fit-content);
                @include vendor-prefix(user-select, none);

                svg {
                    height: calc(0.5 * var(--small_length));
                    width: auto;
                    fill: var(--text-color);
                }

                &::after {
                    align-self: center;
                    content: "copy";
                }

                &.active{
                    &::after {
                        content: "✓ copied";
                    }
                    svg {
                        display: none;
                    }
                }
            }
        }

        .code {
            padding: calc(var(--small_margin) * 2);
            color: white;
        }
    }
    
    h1, h2, h3, h4, h5, h6 {
        font-weight: 400 !important;
    }
    @for $i from 1 through 6 {
        h#{$i} {
            font-size: nth($h, $i);
        }
    }

    p {
        font-size: var(--p);
    }

    img {
        @include vendor-prefix(user-select, none);
        pointer-events: none;
    }
}


.disabled {
    pointer-events: none;
    opacity: var(--faint_opacity);
}

.hidden {
    opacity: 0 !important;
    display: none !important;
}

.mask {
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 0;
}


.glass{
    background: linear-gradient(135deg, rgba(255, 255, 255, 0.1), rgba(255, 255, 255, 0));
    @include vendor-prefix(backdrop-filter, blur(10px));
    border-radius: 20px;
    border:1px solid rgba(255, 255, 255, 0.18);
    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.37);
}

.typing {
    @include vendor-prefix(user-select, none);
    @include vendor-prefix(pointer-events, none);

    span {
        $bullet_r: 5px;
        width: $bullet_r;
        height: $bullet_r;
        margin: 0 calc($bullet_r / 5);
        background-color: var(--text-color);
        border-radius: 50%;
        display: inline-block;

        @include jumping-dots(1.5s, $bullet_r);
    }

    span:nth-child(2) {
        animation-delay: 0.4s
    }
    span:nth-child(3) {
        animation-delay: 0.8s
    }
}
