@import 'variables';
@import 'mixins';
@import 'themes';

@font-face {
    font-family: 'Aptos';
    src: url(../fonts/Aptos-Light.ttf);
}

body {
    font-family: 'Aptos' !important;
    box-sizing: border-box;;
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    color: var(--text-color);
    >* {
        padding-left: 100px;
        padding-right: 100px;
    }
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 800 !important;
}