<!-- Chatbot template -->
<div id="main" class="chatbot main">
    
    <!-- Welcoming section -->
    <div id="welcoming">
        
        <!-- Welcome Title -->
        <div class="title">
            <h1>Welcome to <span class="gemini-gradient-text">GeminiAPI</span>-based
                <br>Chatbot{% include '/svgs/gemini_sparkle.svg' %}
            </h1>
        </div>

        <!-- Options for the Webpage -->
        <div class="options">
            
            <!-- Logs input -->
            <input type="file" id="logs-input" hidden>
            <label id="logs" for="logs-input" class="option">
                {% include '/svgs/logs.svg' %}
                <span>
                    Continue saved Gemini conversation?
                </span>
            </label>

            <!-- Web-Builder webpage -->
            <a id="webuilder" href="webuilder" class="option">
                {% include '/svgs/html.svg' %}
                <span>
                    check out Gemini Website builder (Beta)
                </span>
            </a>

        </div>

    </div>

    <!-- Messages container -->
    <div id="messages" class="messages-container"></div>

</div>