<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/chat.css') }}">

    <script src="https://cdn.socket.io/4.7.5/socket.io.min.js"></script>
    
    <title>Gemini</title>
</head>
<body>
    <div class="chat_container">
        <div id="messages" class="messages">
            <div id="welcoming">
                <h1>Welcome to <span class="gemini-gradient-text">GeminiAPI</span>-based chatbot</h1>
                <h2>want to test me out?<img class="gemini-sparkle" src="{{ url_for('static', filename='images/gemini_sparkle.svg') }}" alt="gemini"></h2>
                <div class="options">
                    <div class="option glass">
                        <img class="logs-upload" src="{{ url_for('static', filename='images/logs.svg') }}" alt="logs-upload">
                        <span>
                            Continue a previous conversation?
                        </span>
                    </div>
                </div>
            </div>
            <div id="gemini_response_common">
                <img class="gemini-sparkle" src="{{ url_for('static', filename='images/gemini_sparkle.svg') }}" alt="gemini">
                <div class="typing">
                    <span></span>
                    <span></span>
                    <span></span>
                </div>
            </div>
        </div>
        <div class="prompt-container">
            <div id="prompt" class="prompt glass">
                <span title="gemini-request" id="text-input" class="text-input" type="text" role="textbox" contenteditable="plaintext-only"></span>
            </div>
            <span>Gemini can make mistakes. Check important info.</span>
        </div>
    </div>
</body>
<script src="{{ url_for('static', filename='js/chat.js') }}"></script>
<script src="{{ url_for('static', filename='js/chat_socket.js') }}"></script>
</html>