<div id="messages-container" class="messages-container">
            
    <div id="welcoming">
        
        <div class="title">
            <h1>Welcome to <span class="gemini-gradient-text">GeminiAPI</span>-based
                <br>Chatbot{% include '/svgs/gemini_sparkle.svg' %}
            </h1>
        </div>

        <div class="options">
            
            <input type="file" id="logs-input" hidden>
            <label id="logs" for="logs-input" class="option">
                {% include '/svgs/logs.svg' %}
                <span>
                    Continue saved Gemini conversation?
                </span>
            </label>

            <a id="webuilder" href="webuilder" class="option">
                {% include '/svgs/html.svg' %}
                <span>
                    check out Gemini Website builder (Beta)
                </span>
            </a>

        </div>

    </div>

    <div id="messages" class="messages"></div>

</div>